<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexlafroscia.alfred-switch-audio</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>01C1D384-588A-4E64-B466-664C0D6ADE55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E5F39C-074E-44D4-A590-B8388F3005B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ACBC07C-367B-45D2-AAAF-0BF58336AD2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7BF0FED-2EB3-41B4-A004-0BED5C4753D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C0FE678-9CDF-4E1F-AD87-D5E4CACDCDA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E5F39C-074E-44D4-A590-B8388F3005B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55E5F39C-074E-44D4-A590-B8388F3005B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7BF0FED-2EB3-41B4-A004-0BED5C4753D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69B4002C-BCE5-4A9D-A0B9-622198D9A856</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ACBC07C-367B-45D2-AAAF-0BF58336AD2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9029507C-1509-4DC4-85FD-809669989074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D92CEBA5-F3C7-42D9-9A06-E62F7CECD5FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7BF0FED-2EB3-41B4-A004-0BED5C4753D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9029507C-1509-4DC4-85FD-809669989074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D92CEBA5-F3C7-42D9-9A06-E62F7CECD5FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED6B7E79-8B79-4DE6-9BCD-8D7BE2EDA3AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5B88B4F-44DD-4DA4-9E55-D8A2183C63D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69B4002C-BCE5-4A9D-A0B9-622198D9A856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED6B7E79-8B79-4DE6-9BCD-8D7BE2EDA3AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EC1992B-3103-4619-90C8-339F817E7BD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex LaFroscia</string>
	<key>description</key>
	<string>Change active audio device</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Switch Audio</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>audio</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys
from SwitchAudioSource import get_sources

query = sys.argv[1]

sys.stdout.write(str(get_sources()))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./list_sources.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Change the audio output device</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69B4002C-BCE5-4A9D-A0B9-622198D9A856</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E5B88B4F-44DD-4DA4-9E55-D8A2183C63D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>NEXT_OUTPUT</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2ACBC07C-367B-45D2-AAAF-0BF58336AD2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./set_output_source.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED6B7E79-8B79-4DE6-9BCD-8D7BE2EDA3AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./get_current_output.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7BF0FED-2EB3-41B4-A004-0BED5C4753D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  // Sanity Checks
  if (!Array.isArray(argv) &amp;&amp; !argv.length) return argv;
  if (typeof argv[0] !== 'string') return argv;

  var device = argv[0];
  ObjC.import('stdlib');
  Application('com.runningwithcrayons.Alfred').setConfiguration('LAST_OUTPUT', {
    toValue: device,
    inWorkflow: $.getenv('alfred_workflow_bundleid'),
    exportable: true
  });

  return device;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9029507C-1509-4DC4-85FD-809669989074</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:NEXT_OUTPUT}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D92CEBA5-F3C7-42D9-9A06-E62F7CECD5FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3C0FE678-9CDF-4E1F-AD87-D5E4CACDCDA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>NEXT_OUTPUT</key>
					<string>{var:LAST_OUTPUT}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>55E5F39C-074E-44D4-A590-B8388F3005B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Output audio device set to "{query}"</string>
				<key>title</key>
				<string>Audio Output Device Changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6EC1992B-3103-4619-90C8-339F817E7BD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle audio output</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle last audio output</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01C1D384-588A-4E64-B466-664C0D6ADE55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Control audi output device through SwitchAudioSource

https://github.com/deweller/switchaudio-osx

It can easily be installed through Homebrew.

```bash
brew install switchaudio-osx
```

Once installed, make sure that the "Environment Variable" that points to the executable is set correctly for this script.</string>
	<key>uidata</key>
	<dict>
		<key>01C1D384-588A-4E64-B466-664C0D6ADE55</key>
		<dict>
			<key>note</key>
			<string>Keyword for toggle last audio output</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>2ACBC07C-367B-45D2-AAAF-0BF58336AD2E</key>
		<dict>
			<key>note</key>
			<string>Save next output</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>3C0FE678-9CDF-4E1F-AD87-D5E4CACDCDA5</key>
		<dict>
			<key>note</key>
			<string>Toggle last output</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>55E5F39C-074E-44D4-A590-B8388F3005B2</key>
		<dict>
			<key>note</key>
			<string>Save next output</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>69B4002C-BCE5-4A9D-A0B9-622198D9A856</key>
		<dict>
			<key>note</key>
			<string>List output devices</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6EC1992B-3103-4619-90C8-339F817E7BD6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>9029507C-1509-4DC4-85FD-809669989074</key>
		<dict>
			<key>note</key>
			<string>Save current device</string>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>B7BF0FED-2EB3-41B4-A004-0BED5C4753D3</key>
		<dict>
			<key>note</key>
			<string>Get current device</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>D92CEBA5-F3C7-42D9-9A06-E62F7CECD5FA</key>
		<dict>
			<key>note</key>
			<string>Pass next output</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>E5B88B4F-44DD-4DA4-9E55-D8A2183C63D5</key>
		<dict>
			<key>note</key>
			<string>Trigger list of output devices</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>ED6B7E79-8B79-4DE6-9BCD-8D7BE2EDA3AF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Set output device</string>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>LAST_OUTPUT</key>
		<string>Yeti Stereo Microphone</string>
		<key>SWITCH_AUDIO_SOURCE_PATH</key>
		<string>/usr/local/bin/SwitchAudioSource</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>LAST_OUTPUT</string>
		<string>SWITCH_AUDIO_SOURCE_PATH</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
